<!DOCTYPE html>
<html lang ="en">
<head>
	<title>ABOUT</title>
	<link href="stylesheets/application.css" rel="stylesheet" />
</head>
<body>

<div id="maddie">MADDIE SIMENS</div>
	<div id="nav">
  	  <h1>MADDIE SIMENS</h1>
 	  <ul>
  		<li><%= link_to "ABOUT", page_path('about') %></li>  
  		<li><a href="http://www.linkedin.com/in/madelinesimens">RESUME</a></li>  
  		<li><a href="https://medium.com/@maddiesimens">BLOG</a></li>
      </ul>
    </div>

</body>